#sobre {
  list-style: none;
  padding: 0;
  background-color: white;
  float: right;
  margin-top: 25px;
  margin-right: 45px;
}
#sobre li {
  display: inline;
}
#sobre li a {
  color: black;
  padding: 25px;
  display: inline-block;
  text-decoration: none;
  display: inline;
  transition: background .5s;
}
#sobre li a:hover {
  color: blue;
}
/**************************HEADER*************************************/

.pagina-1 {
  background-color: white;
  margin-left: -160px;
  padding: 280px;
}
.img1 {
  margin-left: 0px;
  padding: 700px;
  margin-top: -1050px;
}

.pagina2 {
  margin-top: -950px;
  background-color: rgb(57, 59, 90);
}
.pagina2 h1 {
  margin-top: -200px;
  color: white;
  padding: 75px;
}
.pagina2 p {
color: white;
padding: 100px;
margin-top: -145px;
}
.pagina2 h3 {
color: white;
padding: 100px;
margin-top: -125px;
}
.pagina-3 {
  margin-top: 250px;
  background-color: white;
}
.pagina-3 h1 {
  color: black;
  padding: 75px;
}
.img-2 {
  width: 500px;
}
.img {
  width: 70px;
  margin-top: -120px;
  margin-left: 120px;
}
.javascript {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: -75px;
  padding: 25px;
  margin-left: 65px;
}
.html {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: -75px;
  padding: 25px;
}
.css {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: -75px;
  padding: 25px;
}
.cert {
  margin-top: -550px;
  margin-left: 820px;
}
.cert span {
  color: darkgoldenrod;
}
.pagina-4 h1 {
  margin-top: 50px;
}
.linkedln1 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-top: 100px;
  padding: 15px;
  margin-left: 65px;
}
.instagran1 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-top: 100px;
  padding: 15px;
  margin-left: 5px;
}
.face1 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-top: 100px;
  padding: 15px;
  margin-left: 5px;
}

@media screen and (max-width: 600px) {
  .pagina-1 {
    margin-left: -145px;
    padding: 180px;
  }
}
@media screen and (max-width: 600px) {
  .linkedln, .instagran, .face {
    margin-top: 0px;
    padding: 0px;
    margin-left: -10px;
  }
}
@media screen and (max-width: 780px) {
  .img1 {
    margin-top: 0px;
    margin-left:  -580px;
  }
}
@media screen and (max-width: 600px) {
  .img1 {
    margin-top: -640px;
    margin-left:  -670px;
  }
}

@media screen and (max-width: 600px) {
  .pagina2 {
    margin-top: -850px;

  }
}

@media (max-width: 600px) {
  .pagina2 p, .pagina2 h3, .javascript, .html, .css {
    margin-top: 0px;
    padding: 10px;
  }
}
@media (max-width: 600px) {
.javascript, .html, .css {
    margin-top: 0px;
    padding: 5px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 600px) {
  .cert {
  margin-top: 30px;
  margin-left: 10px;
  }
}

@media screen and (max-width: 780px) {
  .img {
    margin-top: 0;
    margin-left:  -580px;
  }
}
@media screen and (max-width: 600px) {
  .img {
    margin-top: 0;
    margin-left:  -475px;
  }
}
@media screen and (max-width: 600px) {
  .pagina-3 {
    margin-top: 300px;
    background-color: white;
  }
}
@media screen and (max-width: 600px) {
  #sobre li a {
    color: black;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    display: inline;
    transition: background .5s;
  }
}
@media screen and (max-width: 600px) {
  #menu-ul {
    list-style: none;
    padding: 0;
    background-color: white;
    float: right;
    margin-top: 25px;
    margin-right: 100px;
  }
}